.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/*Header nav*/

.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}
.header__logo {
    background-image: url(../img/logoRitmStyle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 60px;
    height: 60px;
}
.header__menu {
    display: flex;
    justify-content: space-between;
}
.header__list {
    margin-right: 50px;
}
.header__list:last-child {
    margin-right: 0;
}
.header__link {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
}
.header__btn {
    background-color: #018ABE;
    padding: 9px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}
.header__btn:hover {
    color: #018ABE;
    background-color: #fff;
}

/*hero*/
.hero {
    display: block;
    background-image: url(../img/heroBG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    padding: 135px 355px 210px;
    margin-bottom: 150px;
}
.hero__subtitle {
    font-family: "El Messiri";
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;

    position: relative;
}
.hero__subtitle::before {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

    width: 30px;
    height: 15px;
}
.hero__subtitle::after {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    right: 0;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 30px;
    height: 15px;
}
.hero__title {
    margin-top: 40px;
    font-family: "El Messiri";
    font-size: 64px;
    font-weight: 700;
    line-height: 90px;
}

/*Sessions*/

.sessions {
    margin-bottom: 150px;
}
.title {
    font-family: "El Messiri";
    font-size: 42px;
    font-weight: 700;
    line-height: 59px;
    text-align: center;

    position: relative;
}
.title::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    right: 314px;
    background-color: #018ABE;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 30px;
    height: 15px;
}
.title::before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 314px;
    background-color: #018ABE;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

    width: 30px;
    height: 15px;
}
.sessions__grid {
    display: grid;
    grid-gap: 25px;
    grid-template: repeat(2, 260px) / repeat(3, 1fr);
    margin-top: 100px;
}
.sessions__goods {
    background-image: url(../img/goods.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
}
.sessions__goods:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}
.sessions__text {
    display: block;;

    position: absolute;
    bottom: 50px;
    left: 40px;

    font-family: "El Messiri";
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

/* SLIDER */
.slider-wrapper {
  width: 100%;
  overflow: hidden;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.slide {
  width: 500px;
  height: 280px;
  background-color: #005b7f;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  transform: scale(0.8);
  transition: transform 0.3s ease;
  opacity: 0.5;
}
.slide--active {
  width: 640px;
  height: 350px;
  background-color: #018ABE;
  color: #333;
  transform: scale(1);
  opacity: 1;
  margin: 0 10px;
}
.slide-hidden {
  display: none;
}
.dots__list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dots__item {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 2px;
  margin: 60px 5px 0;
  cursor: pointer;
}
.dots__item.active {
  background-color: #999;
}
.slide__title {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.slide__text {
    margin-top: 10px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

/*About*/
.about {
    margin-top: 100px;
}
.about__wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 85px;
    align-items: center;
}
.about__title {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 30px;
}
.about__text {
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 100;
    line-height: 22px;
    opacity: 0.8;
}

/*Price*/
.price {
    margin-top: 150px;
}
.price__info {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price__menu {
    width: 415px;
}
.price__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 40px;
    margin-top: 30px;
}
.price__list::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    background-color: #018ABE;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

    width: 20px;
    height: 10px;
}
.price__goods {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.price__cost {
    font-family: "El Messiri";
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
.price__gift {
    text-align: center;
}
.price__text {
    margin-top: 30px;
    font-family: "El Messiri";
    font-size: 21px;
    font-weight: 700;
    line-height: 29px;
}

/*Map*/
.map--container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}
.map {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.map__img {
    background-image: url(../img/map.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 860px;
    height: 600px;
}
.map__banner {
    background-color: #018ABE;
    padding: 35px 45px;
    border-radius: 5px;
    margin-bottom: 45px;
}
.map__banner:last-child{
    margin-bottom: 0;
}
.map__title {
    font-family: "El Messiri";
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}
.map__menu {
    margin: 20px 0;
}
.map__list {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding-left: 40px;
    margin-bottom: 20px;
    position: relative;
}
.map__list:nth-child(1)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/Icons/carbon_location-filled.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.map__list:nth-child(2)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/Icons/Spb_metro_logo\ 1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
}
.map__list:nth-child(3)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/Icons/bi_calendar-week-fill.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.map__btn {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    color: #018ABE;
    border-radius: 2px;
    background-color: #fff;
    padding: 10px 15px;
    transition: all 0.3s;
}
.map__btn:hover {
    color: #fff;
    background-color: #018ABE;
    border: solid 2px #fff;
}
.copy {
    margin: 90px auto 30px;
    display: flex;
    justify-content: space-between;
}
.copy__text {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
.copy__autor {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
}
